
<section class="page-intro">
	<div class="container">
		<div class="main-text">
			<div class="centered-text">
		    <h1 class="main-greeting">Come to Church on Sunday</h1>
		    <p class="intro-text">Join us at Asbury Broadneck UMC and learn to grow with God and the community</p>
		    <div class="sunday-service">
		      <p class="center">Sunday School 9:00am</p>
		      <p class="center">Sunday Worship 10:15am</p>
		    </div>
		  </div>
		</div>
	</div>
 </section>

