* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

body {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

/**************************
       General Styles
**************************/

header {
  padding: 2em 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;
}

.header-container {
  padding: 0 1em;
}

.header-container,
.container {
  margin: 0 auto;
  padding: 0 1em;
}

.section-container  {
	max-width: 100%;
}

.header-container {
  max-width: 1440px;
}

.container {
	max-width: 1000px;
}

.group:after { 
   content: " "; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

#logo {
	font-size: 1.5rem;
	display: inline-block;
	float: left;
}

.fp-sermons,
  .fp-events,
  .fp-posts,
  .fp-jobs {
    padding: 1em 1%;
  }

/**************************
       Navigation
**************************/

nav ul.navigation {
	float: right;
}

ul.navigation li {
	float: left;
	display: inline-block;
	padding: .5em;
}

ul.navigation li a {
  padding: 1.2em .7em;
}

nav li a:hover {
	border-bottom: 2px solid #eee;
	padding-bottom: .3em;
}

/**************************
       Front Page
**************************/

.page-intro {
  padding: 0 1em;
}

.main-text {
	padding: 1em 0;
	display: table;
  width: 100%;
}

.centered-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

h1.main-greeting {
  font-size: 2.2em;
  margin: .1em 0;
  color: #000;
  line-height: 1.6;
}

p.intro-text {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 1em;
  line-height: 1.6;
}

div.sunday-service {
  padding-top: 2em;
}

div.sunday-service p {
  font-size: 1em;
  overflow: hidden;
  margin: 1.5em 2.5em;
  border: 1px solid rgba(0, 0, 0, 0.9);
  display: inline-block;
  padding: 10px 5%;
}

.fp-sermons,
.fp-posts,
.fp-events {
  width: 100%;
}

.fp-sermons {
  background-color: #f7ca18;
}

.fp-posts {
  background-color: #f5d76e;
}

.fp-events {
  background-color: #f4d03f;
}

/********************
Form
*********************/

.section-title {
  text-align: center;
	padding-bottom: 1em;
}

.field {
	padding: .5em 0;
}

label {
	display: block;
	font-size: 1.4em;
	padding-left: .5em;
	margin-bottom: .2em;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
	height: 48px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-shadow: none;
	border-radius: 5px;
	border: 2px solid #eee;
	padding: 2px 2px 0 8px;
	font-size: 1.1em;
}

textarea {
	height: 300px;
  padding: 10px 10px 0 8px;
	font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

form {
	padding-bottom: 1em;
}

.btn-submit {
	color: #fff;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: .6em 1em;
  margin: 1em 0;
	font-size: 1em;
	background: #e74c3c;
  display: block;
  cursor: pointer;
}

/********************
Church Events
*********************/

h2.section-title {
  text-align: center;
  padding: 1em 0;
}

section.event-show {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

p.event-date {
  width: 28%;
  float: left;
  margin-right: 5%;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

p.fp-event-date {
  width: 28%;
  float: left;
  margin-right: 5%;
  font-size: 1.4em;
  margin: 0;
  text-align: center;
}

div.event-info {
  width: 65%;
  float: right;
  font-size: 1em;
}

div.event-name {
  font-size: 2em;
  font-weight: bold;
}

section.fp-sermons h2.post-title a,
section.fp-events h2.post-title a,
section.fp-posts h2.post-title a,
section.fp-jobs h2.post-title a {
  font-size: 1.2rem;
}

p.event-name {
  margin-bottom: .6em;
  font-size: 1.2rem;
  font-weight: bolder;
}

.event-time,
.event-location {
  font-size: .8em;
}

.clear {
  clear: both;
}
.event-index {
  overflow: hidden;
  background-color: #eee;
  padding: 1em 0.8em;
}

.action-links {
  margin: 1em 0;
}

/********************
Pastor's Posts
*********************/

section.post {
  padding: 0 5%;
}

section.posts .post-title {
  padding: 0;
}

h2.post-title {
  padding: 0;
}

p.post-text {
  padding: .5em 0;
  line-height: 1.6;
}

div.edit-btns {
  padding: .5em 0;
}

/**************************
       Footer
**************************/

footer {
	padding: 1em 0;
  height: 3em;
	text-align: center;
  color: #fff;
  background: #000;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -3em; 
}

.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 3em; 
}


/**************************
       Media Quires
**************************/

@media (min-width :522px) {

  header {
    padding-top: 3em;
  }

  .page-intro {
    padding-top: 3em;
    padding-bottom: 5em;
  }

  .main-text {
    padding: 5em;
  }

  h1.main-greeting {
    font-size: 4em;
  }

  div.sunday-service {
    padding-top: 1em;
  }

  .fp-sermons,
  .fp-events,
  .fp-posts,
  .fp-jobs {
    padding: 1em 1%;
    width: 50%;
    float: left;
    height: 300px;
  }

  p.fp-event-date {
    font-size: 1.2rem;
  }

  h2.section-title {
    text-align: center;
  }

  section.events .container form {
    width: 60%;
  }

  @media (min-width :980px) {

  .fp-sermons,
  .fp-events,
  .fp-posts,
  .fp-jobs {
    padding: .8em 1%;
    width: 25%;
    float: left;
    height: 300px;
  }

}































