<header class="group">
	<div class="header-container">
		<h1 id="logo">Asbury Broadneck UMC</h1>
		<nav>
			<ul class="navigation">
				<li><%= link_to "Home", root_path %></li>
				<li><a href="#">Sermons</a></li>
				<li><%= link_to "Church Events", events_path %></li>
				<li><a href="#">Pastor's Blog</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Tithe</a></li>
			</ul>
		</nav>
	</div>
</header>