<header class="group">
	<div class="header-container">
		<h1 id="logo"><%= link_to "Asbury Broadneck UMC", root_path %></h1>
		<nav>
			<ul class="navigation">
				<li><a href="#">Sermons</a></li>
				<li><%= link_to "Church Events", events_path %></li>
				<li><%= link_to "Pastor's Blog", posts_path %></a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Shop</a></li>
				<li><a href="#">Tithe</a></li>
			</ul>
		</nav>
	</div>
</header>